<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/solo.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
	{% if site.font-awesome-include %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">{% endif %}
	<link rel="stylesheet" href="{{ site.baseurl }}/css/rrssb.css">
	<script src="{{ site.baseurl }}/scripts/jquery.js"></script>
	<link rel="canonical" href="{{ site.url }}" />
	<meta property="og:description" content="Le réseau informel et transparent des développeurs du Mali."/>
	<meta property="og:url" content="http://codeurs.ml"/>
	<meta property="og:image" content="http://codeurs.ml/preview.png"/>
	<meta property="og:type" content="website"/>
	<meta property="og:site_name" content="Codeurs.ml"/>
	<meta name="twitter:card" content="Codeurs.ml">
	<meta name="twitter:title" content="Codeurs.ml">
	<meta name="twitter:description" content="Le réseau informel et transparent des développeurs du Mali.">
	<meta name="twitter:image:src" content=http://codeurs.ml/preview.png>
	<meta name="twitter:domain" content="codeurs.ml">
</head>
<body>
  <article>
   <div class="container">
   <h1>{{ page.title }}</h1>
	{% include menu.html %}
    {{ content }}
    </div>
  </article>
</body>
</html>
